@import '../../../configs/colors/colors.css';

.header {
    z-index: 1000;
    background-color: floralwhite;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    height: 60px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom: 2px solid var(--background-color); /* Thêm viền bottom */
}

.nav {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 200px;
}

.childNav {
    height: 100%;
    width: 100%;
    margin-right: 4px;
}


.wapperLogo{
    position: relative;
}


.userInfo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 16px;
   
}



.paddingRight {
    padding-right: 6px;
}

.active {
    position: relative;
}

.active:hover .toolTip {
    visibility: visible;
    opacity: 1;
}

.toolTip {
    position: absolute;
    z-index: 2;
    background-color: var(--background-color-hover);
    color: var(--color-btn);
    text-align: center;
    border-radius: 10px;
    transform: translateX(-100%);
    /* Sửa lại để căn chính giữa tooltip */
    bottom: -50px;
    white-space: nowrap;
    visibility: hidden;
    
    opacity: 0;
    pointer-events: none;
    /* Tooltip không can thiệp vào các phần tử khác */
    transition: opacity 0.5s ease, visibility 0s linear 0.5s;
    /* Thêm transition cho visibility */
    padding: 10px 10px;
}