@import '../../configs/colors/colors.css';

.btn {
    background-color: var(--background-color);
    border-radius: 50%;
    border: none;
    color: var(--color-btn);
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width: 40px;
    height: 40px;
}


.icon:hover {
   
    background-color: var(--background-color-hover);
}

.icon:focus {
    background-color: var(--background-color-hover);
}

.icon:active {
   
    background-color: var(--background-color-active);
}


.iconNav {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 5%;
    
}

.iconNavFocus {
    background-color: var(--background-color);

    :focus {
        background-color: var(--background-color);
    }
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    min-width: 50px;
    height: 50px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.iconSearch{
    height: 39px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%; 
}
.iconSearch:hover{
    background-color: var(--background-color-hover);
}
.iconSearch:active{
    background-color: var(--background-color-active);
}
.iconXSearch{
    height: 39px;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%; 
    background-color: transparent;
    
}
.buttonFilter{
    background-color: transparent;
    border-radius: 15px;
    border: none;
    color: var(--color-btn);
    text-align: start;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    white-space: nowrap;
    
}

.buttonFilterFocus{
    background-color: var(--background-color-hover);
}

.iconFilter{
    height: 35px;
    width: 35px;
}
.iconXHistorySearch{
    height: 30px;
    width: 30px;
    background-color: transparent;
    
}
.saveChange{
    border-radius: 10px;
    height: 30px;
    width: 120px;
}
.saveChange:disabled{
    cursor: not-allowed;
    background-color: transparent;
}